<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="FileStoreEntities" connectionString="metadata=res://*/FileDataStore.FileStore.csdl|res://*/FileDataStore.FileStore.ssdl|res://*/FileDataStore.FileStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=database2.snovaspace.com;initial catalog=FileStore;persist security info=True;user id=huntable;password=huntable;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
