<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FlashServerType" value="fms"/>
    <!-- Valid values are "fms" and "red5" -->
  </appSettings>
  <connectionStrings>
    <add name="AjaxChat" connectionString="Data Source=database2.snovaspace.com;database=huntable;User Id=huntable;password=huntable;"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <pages theme="AjaxChatDefault" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices/>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <handlers>
      <remove name="WebServiceHandlerFactory-ISAPI-2.0"/>
    </handlers>
  </system.webServer>
</configuration>