<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="huntableEntities" connectionString="metadata=res://*/Huntable.csdl|res://*/Huntable.ssdl|res://*/Huntable.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=database2.snovaspace.com;initial catalog=Huntable;persist security info=True;user id=huntable;password=huntable;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>