<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Huntable.Log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c: %m%n" />
      </layout>
    </appender>
    <root>
      OFF, FATAL, ERROR, WARN, DEBUG, INFO, ALL
      <level value="ALL" /><appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="project" value="huntable" />
    <add key="NumbersOfJobsToShowToWhichPeopleAlsoAppliedToSameJob" value="3" />
    <add key="FromUserName" value="Huntable" />
    <add key="AdminDisplayName" value="JobBoard" />
    <add key="FromEmail" value="support@huntable.co.uk" />
    <add key="FromEmailPassword" value="hathee123" />
    <add key="SMTPAddress" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="EnableSsl" value="true" />
    <add key="LinkedInConsumerKey" value="dcwbtwvuewmw" />
    <add key="LinkedInConsumerSecret" value="S3uIVhNxXd58f3QK" />
    <add key="CryptorKey" value="test" />
    <add key="LastActivityMinutes" value="2" />
    <add key="DefaultProfileImagePath" value="default-avatar.png" />
    <add key="DefaultCompanyImagePath" value="CompanyPhoto.jpg" />
    <add key="AvatarBasePath" value="~/ProfileImages/" />
    <add key="CompanyBasePath" value="~/CompanyLogo/" />
    <add key="UserOnlineImagePath" value="~/images/greendot.jpg" />
    <add key="UserOfflineImagePath" value="~/images/RedDot.png" />
    <add key="TestRun" value="False" />
    <add key="USER" value="ynaveen" />
    <add key="VENDOR" value="ynaveen" />
    <add key="PARTNER" value="PayPal" />
    <add key="PWD" value="p@yp@l1" />
    <add key="ListviewPagesize" value="2" />
    <add key="PAYFLOW_HOST" value="pilot-payflowpro.paypal.com" />
    <add key="twitterConsumerKey" value="xjrx5FD3sXx7CcmyB7wnOQ" />
    <add key="twitterConsumerSecret" value="sD9Ym2AswDWdd7Hs1ZtoPpVEBYTaqpvBYOdNmO7dA" />
    <add key="googleConsumerKey" value="huntable.co.uk" />
    <add key="googleConsumerSecret" value="-CdHwN1S_bl8izZk6EF4GN0h" />
    <add key="yahooConsumerKey" value="dj0yJmk9ajJ2T0ZzcFhQV09PJmQ9WVdrOVEwWTFTVFoyTkdFbWNHbzlNVGN6T0RVM01qQTJNZy0tJnM9Y29uc3VtZXJzZWNyZXQmeD1lMQ--" />
    <add key="yahooConsumerSecret" value="5046ab49ed7735a2b4c4efe338afafe670c3a304" />
    <add key="yammerConsumerKey" value="" />
    <add key="yammerConsumerSecret" value="" />
    <!--<add key="facebookAppID" value="320289334670559"/>
    <add key="facebookAppSecret" value="0846e5de686eb2457f029301e010a52a"/>-->
    <!--<add key="facebookAppID" value="105014156317315"/>
    <add key="facebookAppSecret" value="b03a8d33bec0125334b91a3af9d5f581"/>-->
    <add key="facebookAppID" value="307487099357078" />
    <add key="facebookAppSecret" value="d24675d8248f10d3f8a52e4d8fe29062" />
    <add key="facebookCallBackURL" value="http://www.huntable.co.uk/oauth.aspx" />
    <add key="windowsLiveAppID" value="00000000440CD409" />
    <add key="windowsLiveAppSecret" value="ppxaeh1MH62UV0OTTiGcbKmGNV-SW6Ln" />
    <add key="wll_appid" value="00000000440CD409" />
    <add key="wll_secret" value="ppxaeh1MH62UV0OTTiGcbKmGNV-SW6Ln" />
    <add key="wll_securityalgorithm" value="wsignin1.0" />
    <add key="wll_returnurl" value="http://www.huntable.co.uk/oauth.aspx" />
    <add key="wll_policyurl" value="http://www.huntable.co.uk/oauth.aspx" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="FeaturedCategoryPrice" value="10" />
    <add key="FeaturedJobsCount" value="10" />
    <add key="InvitationReminderEmailDays" value="7" />
    <add key="WebsiteURL" value="http://localhost:5920/" />
  </appSettings>
  <connectionStrings>
    <add name="huntableEntities" connectionString="metadata=res://*/Huntable.csdl|res://*/Huntable.ssdl|res://*/Huntable.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=database2.snovaspace.com;initial catalog=huntable;persist security info=True;user id=huntable;password=huntable;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FileStoreEntities" connectionString="metadata=res://*/FileDataStore.FileStore.csdl|res://*/FileDataStore.FileStore.ssdl|res://*/FileDataStore.FileStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=database2.snovaspace.com;initial catalog=FileStore;persist security info=True;user id=huntable;password=huntable;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HuntableDb" connectionString="Data Source=database2.snovaspace.com;database=huntable;User Id=huntable;password=huntable;" />
    <add name="AjaxChat" connectionString="Data Source=database2.snovaspace.com;database=huntable;User Id=huntable;password=huntable;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.6.0" newVersion="1.4.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>